<form id="pageForm" action="/page" autocomplete="on" method="post" class="form-horizontal">
	<h2>Crie sua página</h2>
	#foreach($error in $status.errorMessages) <b>$error</b> <br> #end

	<input type="hidden" id="id" name="id" value="$!user.id">
	
	<div id="urlDiv" class="control-group">
		<label for="url" class="control-label">divulga.pandox.com.br/</label> 
		<div class="controls">
			<input type="text" id="url" name="url" placeholder="nome da página" value="$!page.url" >
			<span id="urlHelp" class="help-inline"></span>
		</div>
	</div>
	
	<div id="mainColorDiv" class="control-group">
		<label for="mainColor" class="control-label">Estilo</label> 
		<div class="controls">
			<input type="text" id="mainColor" name="mainColor" placeholder="Red" value="$!page.mainColor" >
			<span id="mainColorHelp" class="help-inline"></span>
		</div>
	</div>
	
	<div id="phoneDiv" class="control-group">
		<label for="ddd" class="control-label">Telefone</label>
		<div class="controls">
			<input type="hidden" name="phonesForm[0].ddi" value="55">
			<input type="text" id="ddd" name="phonesForm[0].ddd" size="3" maxlength="2" class="span1" placeholder="ddd"> <input type="tel" name="phonesForm[0].phone" id="phone">
			<span id="phoneHelp" class="help-inline"></span>
		</div>
	</div>
	
	<div class="control-group">
		<div class="controls">
			<button id="btnPage" class="btn btn-large btn-primary" type="button">Cadastrar</button>
		</div>
	</div>
</form>