

<script src="/resources/js/pandox)old.js"></script>
<script src="/resources/js/pandoxMain.js"></script>
<script src="/resources/js/transitions.js"></script>
<script src="/resources/js/collapse.js"></script>
<script src="/resources/js/modal.js"></script>
</body>
</html>
