<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>

<link type="text/css" rel="stylesheet" href="/resources/bootstrap.min.css" media="all">
<link type="text/css" rel="stylesheet" href="/resources/bootstrap-responsive.min.css" media="all">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
</style>
</head>
<body>

#parse("navbar.vm")
<div class="container">
