<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">Pandox Divulga!</a>

			#parse("_login.vm")
		</div>
	</div>


</div>
