<form id="userForm" action="" autocomplete="on" method="post" class="form-horizontal">
	<h2>Criar novo usuário</h2>
	#foreach($error in $status.errorMessages) <b>$error</b> <br> #end

	<input type="hidden" id="id" name="id" value="$!user.id">
	
	<div id="nameDiv" class="control-group">
		<label for="name" class="control-label">Nome</label> 
		<div class="controls">
			<input type="text" id="name" name="name" value="$!user.name" >
			<span id="nameHelp" class="help-inline"></span>
		</div>
	</div>
	
	<div id="emailDiv" class="control-group">
		<label for="email" class="control-label">E-mail</label>
		<div class="controls">
			<input type="email" id="email" name="email" value="$!user.email" >
			<span id="emailHelp" class="help-inline"></span>
		</div>
	</div>
	
	<div id="passwordDiv" class="control-group">
		<label for="password" class="control-label">Senha</label>
		<div class="controls">
			<input type="password" id="password" name="password" autocomplete="off" >
			<span id="passwordHelp" class="help-inline"></span>
		</div>
	</div>
	
	<div id="phoneDiv" class="control-group">
		<label for="ddd" class="control-label">Telefone</label>
		<div class="controls">
			<input type="text" id="ddd" name="ddd" size="3" maxlength="2" class="span1" placeholder="ddd"> <input type="tel" name="phone" id="phone">
			<span id="phoneHelp" class="help-inline"></span>
		</div>
	</div>
	
	<button id="btnUser" class="btn btn-primary" type="button">Cadastrar</button>
</form>