<form action="" autocomplete="on" method="post">

	<input type="hidden" id="id" name="id" value="$!user.id">
	
	<label for="name">Nome</label> <input type="text" id="name" name="name" value="$!user.name"> <br>
	<label for="email">E-mail</label> <input type="email" id="email" name="email" value="$!user.email"> <br>
	<label for="password">Senha</label> <input type="password" id="password" name="password" autocomplete="off"> <br>
	<label for="ddd">Telefone</label> <input type="text" id="ddd" name="ddd" size="3" maxlength="2" class="span1"> <input type="text" name="phone"><br>
	<button class="btn btn-primary" type="submit">Cadastrar</button>
</form>