#parse("header.vm")

<div class="container">

<div class="well">
	<h1>MyAdmin</h1>
	<hr />

    #parse("/page/menu.vm")

	<div id="msgBox" class="alert" style="display: none;">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<span id="msgBox"></span>
	</div>

    #if($pages.size() == 0)
        <div class="alert alert-success">
            Para começar, crie sua primeira página para gerenciar. <br />
        </div>
    #end

	#parse("/page/_form.vm")

    #if(!($pages.size() == 0))
        <div class="row-fluid">
            <table class="table table-hover">
                <thead>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Cor</th>
                    <th>E-mail</th>
                    <th></th>
                </thead>
                #foreach($page in $pages)
                <tr>
                    <td>$page.id</td>
                    <td>$page.url</td>
                    <td>$page.mainColor</td>
                    <td>$page.email</td>
                    <td style="text-align: right">
                        <a class="btn btn-primary btn-warning btn-edit" href="#" data-pageId="$page.id"><i class="icon-edit icon-white"></i></a>
                        <a class="btn btn-primary btn-danger btn-trash" href="#excluirModal" data-pageId="$page.id" data-pageName="$page.url" role="button" data-toggle="modal"><i class="icon-trash icon-white"></i></a>
                    </td>
                </tr>
                #end
            </table>
        </div>
    #end


    <div id="excluirModal" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Tem certeza que deseja apagar?</h3>
        </div>
        <div class="modal-body">
            <p>Esta ação <strong>não</strong> pode ser desfeita. <br />
                Isso irá fazer com que sua página <strong id="pageNameTrash">abc</strong> não seja mais acessível.</p>
            <br /><p>Tem certeza que deseja continuar?</p>
        </div>
        <div class="modal-footer">
            <button id="closeModal" class="btn" data-dismiss="modal">Fechar</button>
            <button class="btn btn-primary btn-danger btn-exclude">Sim, deletar</button>
        </div>
    </div>



</div>


</div>
#parse("footer.vm")
