#parse("header.vm")

<div class="row">
	<div class="span12">
		
		#if($message.hasMessage())
			<div class="alert $message.cssClass">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong>Oooops!</strong> $message.message
			</div>
			
		#end
		<table class="table table-hover">
			<thead>
				<th>#</th>
				<th>Nome</th>
				<th> </th>
			</thead>
		#foreach($user in $users)
			<tr>
				<td>$user.id</td>
				<td>$user.name</td>
				<td><a href="/usuario/$user.id" class="btn btn-small btn-danger ">Editar</a></td>
			</tr>
		#end
		</table>
		
		#parse("/user/form.vm")
	
	</div>
</div>
	

	
#parse("footer.vm")
